parse_config:
  zmk_additional_includes:
    - "modules/zmk/helpers/include"

  zmk_preamble: |
    #include <zmk-helpers/key-labels/42.h>
    #define CONFIG_WIRELESS

  raw_binding_map:
    "&sys_reset": Reset
    "&bootloader": Boot
    "&caps_word": Caps Word

    # "&bt BT_SEL 0": BT 1
    # "&bt BT_SEL 1": BT 2
    # "&bt BT_SEL 2": BT 3
    # "&bt BT_SEL 3": BT 4

    "&kp LC(INS)": Copy
    "&kp LC(X)": Cut
    "&kp LS(INS)": Paste

    "&kp LG(LC(LEFT))": Prev Desk
    "&kp LG(LC(RIGHT))": Next Desk
    "&kp LG(LC(LS(A)))": Pin App
    "&kp LG(LC(LS(Q)))": Pin Win

    "&swapper": Next Win
    "&kp LS(TAB)": Prev Win
    "&dot_spc": Sentence
    # "&num_dance": { "t": "Numword", "s": "Sticky Num" }
    "&num_dance": { "t": "Numword", "s": "togon NUM" }
    "&magic_shift": { "t": Magic, "h": "Shift" }
    "&smart_mouse": Smart Mouse

    "&double_dash": --
# ZMK_COMBO_MIRRORED(lc_ls_z,  &kp LC(LS(Z)),         LB4 LB3 LB2,     RB4 RB3 RB2,       T_FAST, I_FAST)
# ZMK_COMBO_MIRRORED(lc_ls_c,  &kp LC(LS(C)),         LB3 LB2 LB1,     RB3 RB2 RB1,       T_FAST, I_FAST)
# ZMK_COMBO_MIRRORED(lc_ls_v,  &kp LC(LS(V)),         LB2 LB1 LB0,     RB2 RB1 RB0,       T_FAST, I_FAST)
    "&kp LC(LS(Z))": C-S Z
    "&kp LC(LS(C))": C-S C
    "&kp LC(LS(V))": C-S V

    "&hml LS(LALT)TAB": Tab
    "&hm_combo_ldr": Leader
    "&hm_combo_ldrsh": Shift+Leader
    # "&hm_combo_lpar": { "t": "(", "right": "<" }
    # "&hm_combo_rpar": { "t": ")", "right": ">" }
    "&hm_combo_lpar": { "t": "(", "right": "$" }
    "&hm_combo_rpar": { "t": ")", "right": "^" }
    "&kp LBKT": { "t": "[", "right": "{" }
    "&kp RBKT": { "t": "]", "right": "}" }

    "&nudge_mouse_down": Nudge Mouse

    "&mmv MOVE_UP": Mouse ↑
    "&mmv MOVE_DOWN": Mouse ↓
    "&mmv MOVE_LEFT": Mouse ←
    "&mmv MOVE_RIGHT": Mouse →

    "&msc SCRL_UP": Scroll ↑
    "&msc SCRL_DOWN": Scroll ↓
    "&msc SCRL_LEFT": Scroll ←
    "&msc SCRL_RIGHT": Scroll →

    "&mkp LCLK": Left Click
    "&mkp RCLK": Right Click
    "&mkp MCLK": Middle Click
    "&mkp MB4": Back Click
    "&mkp MB5": Forward Click

    "&tog_on_MOUSE": togon MOUSE
    "&tog_off_MOUSE": togoff MOUSE
    "&tog_on_QWERTY": togon QWERTY
    "&tog_off_QWERTY": togoff QWERTY
    "&tog_on_NUM": togon NUM
    "&tog_off_NUM": togoff NUM
    "&tog_on_NAV": togon NAV
    "&tog_off_NAV": togoff NAV

    "&tog_MOUSE": tog MOUSE
    "&tog_QWERTY": tog QWERTY
    "&tog_NUM": tog NUM
    "&tog_NAV": tog NAV
    "&tog_FN": tog FN
    "&tog_SNAKE": tog SNAKE

  trans_legend: { "t": "", "type": "trans" }

  zmk_combos:
    combo_ldrsh: { align: top, o: 1.35 }
    combo_rret: { align: bottom, o: 2.35 }
    combo_dub_dash: { align: top, o: 0.35 }
    combo_cut: { align: bottom, o: 2.30 }
    combo_lc_ls_z: { align: bottom, o: 1.65 }
    combo_lc_ls_c: { align: bottom, o: 1.25 }
    combo_lc_ls_v: { align: bottom, o: 1.75 }

    combo_ldrsh_m: { align: top, o: 1.35 }
    combo_rret_m: { align: bottom, o: 2.35 }
    combo_dub_dash_m: { align: top, o: 0.35 }
    combo_cut_m: { align: bottom, o: 2.30 }
    combo_lc_ls_z_m: { align: bottom, o: 1.65 }
    combo_lc_ls_c_m: { align: bottom, o: 1.25 }
    combo_lc_ls_v_m: { align: bottom, o: 1.75 }

    combo_lwcsa: { hidden: true }
    combo_rwcsa: { hidden: true }
    combo_lcsa: { hidden: true }
    combo_rcsa: { hidden: true }

    combo_lwcsa_m: { hidden: true }
    combo_rwcsa_m: { hidden: true }
    combo_lcsa_m: { hidden: true }
    combo_rcsa_m: { hidden: true }

    combo_kp_gui: { align: top, o: 0 }
    combo_kp_ctrl: { align: top, o: -0.5 }
    combo_kp_shift: { align: bottom, o: -0.2 }
    combo_kp_alt: { align: bottom, o: 0 }

    combo_typo_ah_ha: { hidden: true }

    # combo_lt: { hidden: true }
    # combo_gt: { hidden: true }
    # combo_lbrc: { hidden: true }
    # combo_rbrc: { hidden: true }
    # combo_srdllr: { hidden: true }
    # combo_srcaret: { hidden: true }


  zmk_keycode_map:
    # custom mappings
    LALT: Alt
    RALT: Alt
    LCTRL: Ctrl
    RCTRL: Ctrl
    LGUI: Gui
    RGUI: Gui
    LSHFT: Shift
    RSHFT: Shift
    LSHIFT: Shift
    RSHIFT: Shift

    BSPC: Bspc
    DEL: Del
    ESC: Esc
    RET: Enter
    SPACE: Spc
    TAB: Tab

    PG_UP: PgUp
    PG_DN: PgDn
    INS: Ins
    HOME: Home
    END: End

    UP: ↑
    DOWN: ↓
    LEFT: ←
    RIGHT: →

    # C_MUTE: $$mdi:volume-off$$
    # C_PP: $$mdi:play-pause$$
    # C_VOL_UP: $$mdi:volume-high$$
    # C_VOL_DN: $$mdi:volume-medium$$
    # C_NEXT: $$mdi:skip-forward$$
    # C_PREV: $$mdi:skip-backward$$

    C_MUTE: 󰝟
    C_PP: 󰐎
    C_VOL_UP: 󰕾
    C_VOL_DN: 󰖀
    C_NEXT: 󰒬
    C_PREV: 󰒫

    # defaults
    AMPERSAND: "&"
    AMPS: "&"
    APOS: "'"
    APOSTROPHE: "'"
    ASTERISK: "*"
    KP_ASTERISK: "*"
    ASTRK: "*"
    AT: "@"
    AT_SIGN: "@"
    BACKSLASH: \
    BSLH: \
    CARET: ^
    COLON: ":"
    COMMA: ","
    DLLR: $
    DOLLAR: $
    DOT: .
    DOUBLE_QUOTES: '"'
    DQT: '"'
    EQUAL: "="
    EXCL: "!"
    EXCLAMATION: "!"
    FSLH: /
    GRAVE: "`"
    GREATER_THAN: ">"
    GT: ">"
    HASH: "#"
    LBKT: "["
    LBRC: "{"
    LEFT_BRACE: "{"
    LEFT_BRACKET: "["
    LEFT_PARENTHESIS: (
    LESS_THAN: <
    LPAR: (
    LT: <
    MINUS: "-"
    KP_MINUS: "-"
    NON_US_BACKSLASH: \
    NON_US_BSLH: "|"
    NON_US_HASH: "#"
    NUHS: "#"
    PERCENT: "%"
    PERIOD: .
    PIPE: "|"
    PIPE2: "|"
    PLUS: +
    KP_PLUS: +
    POUND: "#"
    PRCNT: "%"
    QMARK: "?"
    QUESTION: "?"
    RBKT: "]"
    RBRC: "}"
    RIGHT_BRACE: "}"
    RIGHT_BRACKET: "]"
    RIGHT_PARENTHESIS: )
    RPAR: )
    SEMI: ;
    SEMICOLON: ;
    SINGLE_QUOTE: "'"
    SLASH: /
    KP_SLASH: /
    SQT: "'"
    STAR: "*"
    TILDE: "~"
    TILDE2: "~"
    UNDER: _
    UNDERSCORE: _

draw_config:
  append_colon_to_layer_header: false
  dark_mode: true
  n_columns: 3
  svg_extra_style: "background-color: #fff;"
  # footer_text: "urob/zmk-config"
