
/* Horizontal combos - left hand (mirrored) */
ZMK_COMBO(esc_m,   &kp PLUS,              LT3 LT2,         MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(mouse_m, &kp MINUS,             LT2 LT1,         MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lwcsa_m, &kp RC(RS(RA(RGUI))),  LM4 LM3 LM2 LM1, MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lcsa_m,  &kp RC(RS(RALT)),      LM4 LM3 LM2,     MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
/* ZMK_COMBO(ldrsh_m, &hmr RS(RC(RGUI)) RET, LM3 LM2 LM1,     MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LC(LGUI)), KEYS_R) */


/* Horizontal combos - right hand (mirrored) */
ZMK_COMBO(topminus_m, &smart_mouse,         RT1 RT2,          MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(plus_m,     &kp ESC,              RT2 RT3,          MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rwcsa_m,    &kp LC(LS(LA(LGUI))), RM4 RM3 RM2 RM1,  MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rcsa_m,     &kp LC(LS(LALT)),     RM4 RM3 RM2,      MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rret_m,     &leader_sft,          RM3 RM2 RM1,      MIRROR,           COMBO_TERM_FAST, COMBO_IDLE_FAST)


/* Vertical combos - left hand (mirrored) */
ZMK_COMBO(at_m,    &kp AMPS,  LT3 LM3, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(hash_m,  &kp STAR,  LT2 LM2, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(dllr_m,  &kp UNDER, LT1 LM1, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(prcnt_m, &kp CARET, LT0 LM0, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(grave_m, &kp PIPE,  LM3 LB3, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(bslh_m,  &kp EXCL,  LM2 LB2, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tilde_m, &kp EQUAL, LM1 LB1, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(minus_m, &kp MINUS, LM0 LB0, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)



/* Vertical combos - right hand (mirrored) */
ZMK_COMBO(caret_m,  &kp PRCNT, RT0 RM0, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(under_m,  &kp DLLR,  RT1 RM1, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(star_m,   &kp HASH,  RT2 RM2, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(amps_m,   &kp AT,    RT3 RM3, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(requal_m, &kp TILDE, RM1 RB1, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(excl_m,   &kp BSLH,  RM2 RB2, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(pipe_m,   &kp GRAVE, RM3 RB3, MIRROR,           COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
